body {
	background-color: lightskyblue;
}

div {
	display: none;
	background-color: cornflowerblue;
	background-size: 450px 100px;
  	border: 10px solid black;
  	padding: 50px;
  	margin: 20px;
} 

img {
	width: 300px;
  	border: 15px solid black;
  	padding: 50px;
  	margin: 20px;
  	background-color: saddlebrown;
  	
}

.green{
	color: seagreen;
}
.red{
	color: red;
}

 p{
  	font-family: "Times New Roma", serif;
  	display: block; 	
}

h1{
	font-family: "Times New Roman", serif;
}

h2 {
	font-family: "Times New Roman", serif;
}

h3 {
	font-family: "Times New Roman", serif;
}